coverage
dist
node_modules
out
playwright-report
apps/desktop/build/sia-cloud.json
apps/desktop/build/CHROMIUM_LICENSES.html
apps/desktop/build/ELECTRON_LICENSE.txt
apps/desktop/build/THIRD_PARTY_LICENSES.txt
apps/cloud/lambda
test-results
pnpm-lock.yaml
*.icns
*.png
_old-builds
release
release-*
*.woff2
